@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #191818;
  box-sizing: border-box;
}

section {
  margin: 0 auto;
  margin-top: 100px;
}

/*^ SHARED CSS */
.displayflex {
  display: flex;

  justify-content: space-around;
}

.orange {
  color: #e6533c;
}

.light-gray {
  color: #ffffff71;
}

.section-title {
  font-size: 3rem;
  font-weight: 800;
}

#pri-button {
  background-color: #e6533c;
  color: white;
  padding: 16px 40px;
  border-radius: 42px;
  font-weight: 700;
  font-size: 1.12rem;
  border: none;
}

#sec-button {
  background-color: #e6533c;
  padding: 8px 20px;
  border-radius: 46px;
  font-weight: 700;
}

#thr-button {
  background-color: black;
  color: white;
  padding: 16px 40px;
  border-radius: 42px;
  font-weight: 700;
  font-size: 1.12rem;
  border: 1px solid white;
}

/* * NAVBAR */
.hamburger-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.navbar {
  max-width: 80%;
  margin: 10px auto;
  margin-bottom: 0;

  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 900;
}

.navbar-options {
  gap: 50px;
  border: 1px solid #ffffff4a;
  border-radius: 39px;
  /* padding: 12px 24px; */
  padding-right: 24px;
  align-items: center;
}

.option {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
}

/* * BANNER */
.banner {
  max-width: 80%;
  margin: 50px auto;
  justify-content: space-between;
}

.banner-welcome {
  max-width: 40%;
}

.banner-title {
  font-size: 4.87rem;
  /* padding-right: 100px; */
}

#unique-title {
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5.6rem;
  line-height: 0.8;
}

.banner-para {
  padding-right: 50px;
  margin-bottom: 28px;
}

.banner-button {
  gap: 24px;
}

.banner-img {
  position: relative;
}

.contain1,
.contain2 {
  width: 206px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.contain1,
.contain2 {
  position: absolute;
}

.contain1 {
  justify-content: center;
  align-items: center;
  gap: 12px;
  top: 70%;
  left: -35%;
}

.ball {
  width: 40px;
  height: 40px;
  background-color: #e6533c;
  border-radius: 50%;
}

.contain1-title {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 12px;
}

.contain1-para {
  margin-top: 5px;
  font-weight: lighter;
}

.contain2 {
  padding-left: 24px;
  top: 20%;
  left: 60%;
}

.contain2-title {
  font-size: 2.5rem;
  margin: 0;
  margin-top: 12px;
}

.contain2-para {
  margin-top: 5px;
  font-weight: lighter;
}

/* * HABIT PART */
.habit {
  margin-top: 20px;
  max-width: 80%;
  flex-direction: column;
  gap: 58px;
  text-align: center;
}

.habit-about {
  flex-direction: column;
  gap: 15px;
  max-width: 65%;
  margin: 0 auto;
}

.habit-title {
  margin: 0;
}

.habit-blocks {
  gap: 40px;
  justify-content: center;
}

.block {
  max-width: 230px;
}

.block-title {
  font-size: 1.12rem;
  margin-bottom: 0;
}

.block-para {
  font-size: 0.87rem;
}

.block img {
  border-radius: 50%;
}

/* * RUN PART */
.run {
  max-width: 58%;
  background-color: #222222;
  border-radius: 18px;
  justify-content: space-between;
  padding: 30px 32px 30px 54px;
  align-items: center;
}

.run-about {
  max-width: 443px;
}

.run-title {
  margin: 0;
}

.run-img {
  background-image: url(images/run.jpg);
  background-size: cover;
  background-position: center;
  width: 366px;
  height: 312px;
  border-radius: 18px;
}

#run-button {
  background-color: #e6533c;
  color: white;
  padding: 16px 40px;
  border-radius: 42px;
  font-weight: 700;
  font-size: 1.12rem;
  border: none;
  width: 220px;
}

/** BMI */
table,
th,
td {
  border: 1px solid #505050;
  border-collapse: collapse;
}

.bmi-intro {
  max-width: 670px;
  margin: auto;
  margin-bottom: 88px;
}

.bmi-intro h3 {
  margin-bottom: 0;
}

.bmi-calculator {
  background-color: #222222;
  padding: 50px 0px;
  /* height: 400px; */
}

.bmi-form-details {
  max-width: 1060px;
  margin: auto;
  justify-content: space-between;
}

.chart-title {
  font-size: 1.75rem;
}

.calculate {
  max-width: 577px;
}

table {
  width: 310px;
  height: 216px;
  text-align: left;
}

th,
td {
  padding-left: 20px;
}

th {
  color: white;
  font-weight: 400;
}

.form-container {
  max-width: 600px;
  height: 175px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-row {
  display: flex;
  gap: 12px;
}

input[type="text"],
select {
  flex: 1;
  height: 48px;
  border-radius: 8px;
  padding-left: 20px;
  background-color: #505050;
  border: none;
  color: white;
}

input::placeholder,
select {
  color: rgb(190, 190, 190);
}

select {
  padding-left: 20px;
}

.bmi-button {
  margin-top: 34px;
  background-color: #e6533c;
  color: white;
  width: 224px;
  padding: 16px 40px;
  border-radius: 42px;
  font-weight: 700;
  font-size: 1.12rem;
  border: none;
}

/** TEAM */
.team {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  gap: 58px;
}

.team-about {
  max-width: 670px;
  margin: 0 auto;
}

.team-title {
  margin-bottom: 0;
}

.team-img {
  display: grid;
  margin: 0 auto;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #222222;
  border-radius: 18px;
  max-width: 1060px;
  gap: 20px;
}

.member {
  width: 325px;
  height: 272px;
  border-radius: 18px;
  text-align: left;
}

.member h4 {
  margin-top: 65%;
  padding-left: 18px;
  margin-bottom: 0;
}

.member p {
  padding-left: 18px;
  margin-top: 0;
}

#member1 {
  background-image: url(images/trainer1.png);
  background-size: cover;
  background-position: center;
  filter: brightness(75%);
}

#member2 {
  background-image: url(images/trainer2.png);
  background-size: cover;
  background-position: center;
  filter: brightness(75%);
}

#member3 {
  background-image: url(images/trainer3.png);
  background-size: cover;
  background-position: center;
  filter: brightness(75%);
}

#member4 {
  background-image: url(images/trainer4.png);
  background-size: cover;
  background-position: center;
  filter: brightness(75%);
}

#member5 {
  background-image: url(images/trainer5.png);
  background-size: cover;
  background-position: center;
  filter: brightness(75%);
}

#member6 {
  background-image: url(images/trainer6.png);
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
}

/* * FOOTER */
footer {
  background-color: #222222;
  margin-top: 60px;
  padding: 66px 0px 36px 0px;
}

.footer-body {
  max-width: 80%;
  margin: 0 auto;
}

.service {
  /* justify-content: space-evenly; */
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #525252;
  width: 73.5%;
  margin: auto;
  margin-bottom: 36px;
}

.footer-title {
  font-size: 4.37rem;
  font-style: italic;
  font-weight: 900;
  margin: 0;
}

.club-talks {
  max-width: 443px;
}

.contact-title {
  font-size: 2rem;
  color: white;
}

.copyright {
  text-align: center;
  /* margin: 36px 0px; */
}

/* ! RESPONSIVE FOR MOBILE DEVICE */
@media screen and (max-width: 576px) {
  /* ^ NAVBAR */
  .navbar-options {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }

  /* ^ BANNER */
  .hero {
    padding: 0px 20px;
  }

  .banner {
    flex-direction: column;
    margin: 0;
    max-width: 100%;
  }

  .banner-welcome,
  .banner-button,
  .banner-img img {
    max-width: 100%;
  }

  .banner-about {
    padding-right: 80px;
  }

  .banner-title {
    font-size: 2.2rem;
  }

  .remove-text {
    display: none;
  }

  #pri-button {
    max-width: 40%;
    padding: 5px 30px;
  }

  #thr-button {
    max-width: 60%;
  }

  .contain1 {
    left: 2%;
  }

  .contain2 {
    width: 150px;
    padding-left: 10px;
    top: 30%;
    left: 50%;
  }

  .contain2-title {
    font-size: 1.5rem;
  }

  /* ^ HABIT */
  .habit-blocks {
    flex-direction: column;
    align-items: center;
  }

  .habit-about {
    margin: 0;
    max-width: 100%;
  }

  .habit-title {
    font-size: 2.3rem;
  }

  /* ^ RUN */
  .run {
    flex-direction: column;
    padding: 30px 33px;
    gap: 30px;
    /* max-width: 325px; */
    max-width: 77%;
  }

  .run-title {
    font-size: 2rem;
  }

  .run-img {
    width: 325px;
    height: 170px;
  }

  #run-button {
    width: 325px;
  }

  /* ^ BMI */
  .bmi-form-details {
    flex-direction: column;
  }

  .bmi-intro {
    margin-bottom: 32px;
    padding: 0px 10px;
  }

  .intro-title {
    font-size: 2rem;
  }

  .chart-title {
    font-size: 1rem;
  }

  .bmi-calculator {
    padding-top: 20px;
  }

  .bmi-form-details {
    max-width: 100%;
    padding: 0px 10px;
    gap: 30px;
  }

  .weight {
    width: 100%;
  }

  /* ^ TEAM */
  .team {
    max-width: 100%;
    gap: 35px;
  }

  .team-about {
    max-width: 310px;
  }

  .team-title {
    font-size: 2rem;
  }

  .team-img {
    grid-template-columns: repeat(1, 1fr);
  }

  /* ^ FOOTER */
  .footer-body {
    max-width: 100%;
    padding: 20px;
  }

  .service {
    flex-direction: column;
    width: 100%;
    padding-bottom: 70px;
  }

  .contact-service {
    width: 100%;
  }

  .contact-title {
    margin: 0;
  }
}
